@{
    ViewData["Title"] = "Home Page";
}

<div class="grid">

    <section>
        <hgroup>
            <h2>Det coolaste affärssystemet</h2>
            <h3>Vi är både dyra och dåliga</h3>
        </hgroup>
        
        <img src="/images/s1.jpg" alt="Login">
    </section>

    <aside>
        <p>
            Bla bla<br>
            <small>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</small>
        </p>
        <img src="/images/s22.jpg" width="" alt="Login">

        <p>
            Or set up an account<br>
            <small> Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur</small>
        </p>
        <img src="/images/s2.png" alt="User registration">


    </aside>

</div>


